<div {{ attributes.addClass('our-apis-page-footer-top-bar') }} >
    {#<div class="row banner-title">#}
    {{content.field_banner_image}}
    <div class="our-apis-footer-top-banner-body">
        {{content.field_banner_title}}
        {{content.body}}
        {#</div>#}
    </div>

</div>
