<section {{ attributes.addClass('our-api-explore-block') }} >
    <div class="container-fluid">
        {#<div class="row banner-title">#}
        <div class="col-sm-4 our-api-explore-left-banner-content">
            {{content.field_block_image_pdt}}
        </div>
        <div class="col-sm-8 our-api-explore-right-banner-content">
            <h1>
                {{content.field_block_title_pdt}}
            </h1>
            {{content.body}}
        </div>
        {# </div>#}
    </div>
</section>
