<div class="row get-in-touch-form-popup">
    <strong>Get in touch</strong>
       <form{{attributes}}>
            {{children}}
           
            {{ element.form_build_id }} {# required #}
            {{ element.form_id }}
        </form>
            
 
</div>

