<section class="experience-banking-delight-apps">    
    <div class="container-fluid">
            <div class="row banner-title">
                <div class="col-sm-7 left-banner-content">        
                    {{content.field_banner_title}}        
                    {{content.body}}        
                    {% if content.field_banner_links is not empty  %}     
                        {{content.field_banner_links}}            
                    {% endif %}      
                </div>
                <div class="col-sm-5 right-banner-content-delight">
                    {{content.field_banner_image}}
                </div>
            </div>
    </div>
</section>
