<div class="row banner-title">
    <div class="col-lg-7 col-sm-7 col-xs-12 left-banner-content">        
        {{content.field_banner_title}}        
        {{content.body}}        
        {% if content.field_banner_links is not empty  %} 
            
                 {{content.field_banner_links}}    
            
        {% endif %} 

    </div>
    <div class="col-lg-5 col-sm-5 col-xs-12 right-banner-content">
        <center>
            {{content.field_banner_image}}
        </center>
    </div>
</div>
