<div class="numberCircle"><li>{{fields.id.content}}</li></div>
<div class="api-header-icon">
    <div class="api-header-img">{{fields.field_paragraph_header_icon.content}}</div>
    <div class="api-header-title">{{fields.field_paragraph_title.content}}</div>
    <hr class="api-header-line">
</div>
