<hr class="api-header">
<div class="container-fluid api-icon-homepage">
    <div class="row">
        <div class="col-sm-1"></div>
        {% for key,row in rows %} 
            
            <div class="col-sm-2 homepage-api-icon-list">
                <ul class="step-{{key}}">{{ row.content}}</ul>

            </div>
        {% endfor %}
         <div class="col-sm-1"></div>
    </div>
</div>