
<div class="contact-us-header">
    <center>
        <h2 class="contact-us-choose">Help us help you better! Choose a category.</h2>
        <strong><h2 class="contact-us-choose-subtitle">We will revert to you as soon as possible.</h2></strong>
    </center>
</div>
<div class="container contact-us-body">
    <div class="row ">
        {% for key,row in rows %} 
            <div class="col-sm-3 contact-us-page-{{key}} contact-forms">
                 {{ row.content}}
            </div>
                
        {% endfor %}
    </div>
</div>
