<div class="container-fluid api-home-page-content">
    <div class="row api-product-homepage">
        {% for key,row in rows %} 
            {% if is_front %}
                <div class="homepage-api-product-list">
                    <div class="api-product-padding">
                        <ul class="api-product">
                            <li class="api-list">
                                {{ row.content}}
                            </li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="padding-new">
                    <center>
                    <div class="col-sm-6 api-page-{{key}}">
                        {{ row.content}}
                    </div>
                    </center>
                </div>
            {% endif%}
        {% endfor %}
    </div>
</div>