<div class="col-sm-1 image-padding-experience">
    {{fields.field_api_product_icon.content}}
</div>
<div class="col-sm-11 api-details-experience">
    <h3><strong>{{ fields.title.content }}</strong></h3>
    {{ fields.body.content }}
    {{fields.view_node.content}}
</div>

