<ul class="menu menu--account nav navbar-nav navbar-right">
{% for key,item in items %}
    <li class="Top-menu-accounts {{item.title}}">
        {% if 'administrator' not in user.getroles(TRUE)  %}
            <div class="user-info">{{uname}}</div>
        {% endif %}
        <a class="account-menu" href={{item.url}}>{{item.title}}</a></li>
{% endfor %}
</ul>