{# empty Twig template #}
{% if paragraph.field_documentation_full_content.value is not empty %}
    <div class="homepage-api-product-list">
        <div class="api-product-padding">
            <ul class="api-product">
                <li class="api-list">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-image-padding">
                        {{ paragraph.field_documentation_full_content.value|raw }}
                    </div>
                </li>
            </ul>
        </div>
    </div>                   
{% endif %}

