
<div class="row banner-links button-padding">
    {% for item in items %}
        {% if 'register' in item.content|render|render %}
            <button class="use-ajax col-sm-3 btn block-btn sign-up-popup-button sign-up-button" data-dialog-type="modal" href={{item.content['#url']}}>{{item.content['#title']}}</button>    
        {% else %}
            <div{{ item.attributes }} class="col-sm-3 btn block-btn sign-up-button">{{ item.content }}</div>
        {% endif%}
    {% endfor %}
</div>

