<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row banner-title">
    <div class="col-sm-6 left-banner-content-footer">
        <center>
        {{content.field_banner_image}}
        </center>
    </div>
    <div class="col-sm-6 right-banner-content-footer">
        <h2>
            <strong>
                {{content.field_block_title}}
            </strong>
        </h2>
        {{content.body}}
        {% if content.field_additional_buttons is not empty  %}
            {{content.field_additional_buttons}}
        {% endif %}
    </div>
</div>
