<div class="container-fluid">
    <div class="row experience-banking-delight-api-block">
        <center>
            <h2><strong>{{content.field_block_title}}</strong></h2>
            <h3>{{content.field_block_sub_title}}</h3>
            <div class="get-started-body">
                {{content.body}}
            </div>
            <div class="get-started-buttons">
                {{content.field_addon_buttons}}
            </div>
        </center>
    </div>
</div>

