<div class="footer-block-menu">    
    <div class="container-fluid">    
        <div class="row ">
            <div class="col-sm-9" {{attributes}}>
                <a href="{{ url('<front>') }}">{{content.field_basic_block_image}}</a>
                {{content.body}}
            </div>

