<div class="experience-apps">
	<div class="image-padding-experience">
	    {{fields.field_api_product_icon.content}}
	</div>
	<div class="api-details-experience">
	    <h2>{{ fields.title.content }}</h2>
	    {{ fields.body.content }}
	    {{fields.view_node.content}}
	</div>
</div>