
    <div class="col-sm-12 col-xs-12 api-details">
        <div class="first-half-body">
        <h2>{{ fields.title.content }}</h2>
        <hr class="line"/>
        {{ fields.body.content }}
        </div>
        <div class="second-half-body">
        <div class="col-sm-6 button-left-side">
            {{fields.view_node.content}}
        </div>
        <div class="col-sm-6 image-right-side">
            {{fields.field_right_side_image.content}}
        </div>
        </div>

    </div>



