<div class="container-fluid api-home-page-content">
    <div class="row api-product-homepage">
      <div class="product-wrap">
        {% for key,row in rows %}
              <div class="col-md-12 api-product-section api-product-section-{{ key }}">
                <div class="homepage-api-product-list">
                        <ul class="api-product">
                            <li class="api-list">
                                {{ row.content}}
                            </li>
                        </ul>
                </div>
              </div>
        {% endfor %}
      </div>
  </div>
</div>