 <div class="public-api">
        <div class="row">
        <div class="col-sm-6 pub-cont">
            <h2>{{ fields.title.content }}</h2>
            <hr class="line"/>
            {{ fields.body.content }}
            {{fields.view_node.content}}
        </div>
        <div class="col-sm-6 image-right-side">
            {{fields.field_right_side_image.content}}
        </div>
        </div>
    </div>



