<div class="my-app-analytics">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="my-apps-back-button">
                    <div class="btn btn-default">
                        <button class="contact-us--back-btn">
                            <a href="{{ url('test_restapi.my_developer_apps_list_controller_getListMyApps') }}"><img src="{{base_path ~ directory }}/images/contacticon.png">quay lại ứng dụng của tôi
                            </a>
                        </button>
                    </div>
                </div>
                <div class="my-apps-analytics-form">
                    <div class="app-analytic-title">
                        <h2>
                            <strong>
                                {{displayName}} - Analytics
                            </strong>
                        </h2>
                    </div>
                    {{analytics_form}}
                </div>
            </div>
        </div>
    </div>
</div>